*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: aqua;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.menu-items {
    display: flex;
     gap: 15px;
     justify-content: space-between;
     margin: 15px;
     align-items: center;
     
    
    

}
.menu-items button{
    padding: 5px 10px;
    background:rgb(31, 208, 42);
    border: 1px solid  #028b39;
    border-radius: 5px;
    
}