* {
  margin: 0;
  padding: 0;
}
.personal-outer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 30px;
}
.outer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  row-gap: 30px;
}

.L {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.I {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
}
.p {
  text-align: center;
}
